table
{
        border-color: cadetblue;
        background-color: chocolate;
        border: 10px solid black
}
.spanClassa
{
    /*size:1.5rem;*/
    color: chartreuse;
}
#spanClass
{
    size:2rem;
    color: yellow;
}
[tll="132"]
{
    font-size: 2rem;
}
td[bgColor*='blue']
{
    background-color: blue;
}
td[bgColora*='yellow']
{
    background-color: black;
}
td[email]
{
    text-align: right;
}
a
{
    text-decoration: none;
}

    